*
{
    box-sizing: border-box;
}
.form_row
{
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
}
.form_label
{
    min-width: 160px;
}
.form_label1
{
    min-width: 90px;
}
.form_label2
{
    min-width: 20px;
}
.form_input
{
    flex: 1;
}
.form_input1
{
width: 15%;
margin-right: 2%;
}
h1.tille
{
    font-size: 25px;
    font-weight: 600;
}
.form_item
{
    box-shadow: 5px 10px 8px #888888;
    padding: 20px;
}